@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Oi&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Arial', sans-serif;
  background-color: #102041;
  color: #f7f7f7;
}

@media screen and (max-width: 768px) {
  .alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    color:  #c0171c !important;
  }
  
  .title {
    margin: 10px;
    padding: 4px;
  }
  
  .whatsapp-btn {
    margin: 30px;
    padding: 20px;
  }

  .bg-btn {
    background-color: #157347 !important;
    font-size: 20px;
    color: #ffffff !important;
    text-decoration: none !important;
  }

  .bg-yellow {
    background-color: #fbc22b  !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .bg-yellow-2 {
    background-color: #fbc22b  !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .bg-white {
    background-color: #f7f7f7  !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .bg-white-2 {
    background-color: #f7f7f7  !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

@media screen and (min-width: 769px) {
  .alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-size: 70px;
    font-style: normal;
    color:  #c0171c !important;
    border: #f7f7f7 1cm oklab(from color l a b);
  }

  .title {
    margin: 20px;
    padding: 15px;
  }

  .whatsapp-btn {
    margin: 30px;
    padding: 20px;
    transition-delay: 15ms 1s;
  }
  .bg-btn {
    background-color: #157347 !important;
    font-size: 20px;
    color: #ffffff !important;
    text-decoration: none !important;
  }

  .bg-yellow {
    background-color: #fbc22b  !important;
    border-start-start-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .bg-yellow-2 {
    background-color: #fbc22b  !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .bg-white {
    background-color: #f7f7f7  !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .bg-white-2 {
    background-color: #f7f7f7  !important;
    border-start-start-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}